<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".Setting" android:label="Setting" />

        <activity
            android:name=".add_contact"
            android:label="Emergency contact(s)"
            android:parentActivityName=".contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sos.contacts" />
        </activity>

        <activity android:name=".LoginActivity" android:label="SOS Lifesaver"/>
        <activity android:name=".contacts" android:label="Contacts" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>